@model VAT_TODOLIST.Models.VATTodoModel

<form asp-action="UpdatePost">
    <div class="border p-3">        
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Update Todo</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <input type="hidden" asp-for="Id" />
                    <div class="col-6">
                        <div class="col-4"><label asp-for="Name"></label></div>
                        <input asp-for="Name" placeholder="Full Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <div class="col-4"><label asp-for="EmailAddress"></label></div>
                        <input asp-for="EmailAddress" placeholder="Email Address" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    @*<div class="col-3"><label asp-for="Id"></label></div>*@
                    <div class="col-4"><label asp-for="TaskName"></label></div>                    
                    <div class="col-4"><label asp-for="TaskDate"></label></div>
                    <div class="col-4"><label asp-for="Priority"></label></div>
                </div>
                <div class="form-group row">
                    @*<div class="col-4">
                        <input type="hidden" asp-for="Id"  class="form-control" />                        
                    </div>*@                   

                    <div class="col-4">
                        <input asp-for="TaskName" class="form-control" />
                        <span asp-validation-for="TaskName" class="text-danger"></span>
                     </div>

                    <div class="col-4">
                        <input asp-for="TaskDate" class="form-control" />
                        <span asp-validation-for="TaskDate" class="text-danger"></span>
                     </div>


                    <div class="col-3">
                        @*<input asp-for="Priority" class="form-control" />*@                        
                        <select class="form-control" aria-label="Default select example" asp-for="Priority">
                            <option selected>Select Priority</option>
                            <option>Critical</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                        <span asp-validation-for="Priority" class="text-danger"></span>
                     </div>


                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">                                               
                       <div class="col"><input type="submit" class="btn btn-info w-75" value="Update"/></div>
                        <div class="col"><a class="btn btn-danger w-75" asp-action="Index">Go back </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }

